{{ 'emblem-home-banner.css' | asset_url | stylesheet_tag }}

<div style="background-color:#151415; color:#fff; position:relative">

  <div class="grid">

    <div class="grid__item d-flex align-items-center justify-content-right">


      <div class="home-banner__content ">


        <h1 class="text-white text-uppercase m-0">built for service.<br>
          MADE IN AMERICA.
        </h1>

        <p>Purpose built performance wear designed for American military and first responders.
        </p>


        <div class="banner__buttons banner__buttons--multiple">
          <a href="/collections/all" class="button button--secondary">Shop all</a>
          <a href="#" class="button button--primary">sdsds</a>
        </div>



      </div>


    </div>

    <div class="grid__item">
      <img
        src="{{ section.settings.image | image_url }}"
        style="max-width:710px; float:right"
        class="img-fluid">

    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "class": "home-banner",

    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Pick a banner image"
      }
    ],


    "presets": [
      {
        "name": "Home Banner"

      }
    ]
  }
{% endschema %}