<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid">

      <div class="how-it-works__img">
        <img src="https://cdn.shopify.com/s/files/1/2141/7697/files/iPhone-12-Pro-1.png?v=1689068101" alt="" />

        <img src="https://cdn.shopify.com/s/files/1/2141/7697/files/iPhone-12-Pro_480x480.png?v=1689068123" alt="" />
      </div>

    </div>
    <div class="grid">


      <div class="how-it-works__text-description">

        <h3>HOW IT WORKS</h3>

        <ul>


          <li>FILL OUT 2-MINUTE STYLE QUIZ
            AND SHARE YOUR LOGOS</li>

          <li>
            APPROVE FREE CUSTOM DESIGNS
            FROM OUR GRAPHIC ART TEAM</li>

          <li>
            GET YOUR CUSTOM UNIT
            WEBSTORE, OPEN 24/7/365</li>

          <li>4
            PLACE ORDERS INDIVIDUALLY
                                OR BUY IN BULK - NO MOQs</li>


        </ul>

        <a href="#" class="button button-primary">Get Started Now</a>

      </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "How It Works",
    "class": "how-it-works",
    "settings": [],
    "presets": [
      {
        "name": "How It works"

      }
    ]
  }
{% endschema %}