<div>Yes it is working in sectionsf</div>

{% schema %}
  {
    "name": "How It Works",
    "class": "how-it-works",
    "settings": [],
    "presets": [
      {
        "name": "How It works"

      }
    ]
  }
{% endschema %}