<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid">


      <img src="https://cdn.shopify.com/s/files/1/2141/7697/files/iPhone-12-Pro-1.png?v=1689068101" alt="" />

      <img src="https://cdn.shopify.com/s/files/1/2141/7697/files/iPhone-12-Pro_480x480.png?v=1689068123" alt="" />


    </div>
    <div class="grid">right</div>
  </div>
</div>


{% schema %}
  {
    "name": "How It Works",
    "class": "how-it-works",
    "settings": [],
    "presets": [
      {
        "name": "How It works"

      }
    ]
  }
{% endschema %}