{{ 'section-footer.css' | asset_url | stylesheet_tag }}


<div>

  <img src="{{ 'home-banner.png' | file_url }}" style="max-width:710px; float:right">


</div>



{% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "class": "home-banner",

    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Pick a banner image"
      }
    ],


    "presets": [
      {
        "name": "Home Banner"

      }
    ]
  }
{% endschema %}