<div class="page-width">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid">left</div>
    <div class="grid">right</div>
  </div>
</div>


{% schema %}
  {
    "name": "How It Works",
    "class": "how-it-works",
    "settings": [],
    "presets": [
      {
        "name": "How It works"

      }
    ]
  }
{% endschema %}