{{ 'section-footer.css' | asset_url | stylesheet_tag }}


<div style="background-color:#151415; color:#fff; position:relative" class="grid">

  <div class="content  grid__item">content</div>

  <div class="grid__item">
    <img src="{{ 'home-banner.png' | file_url }}" style="max-width:710px; float:right">

  </div>
</div>



{% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "class": "home-banner",

    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Pick a banner image"
      }
    ],


    "presets": [
      {
        "name": "Home Banner"

      }
    ]
  }
{% endschema %}