<div class="page-width">
  <div class="grid grid--1-col grid--3-col-desktop">

    <div class="grid__item ">test</div>

    <div class="grid__item ">test</div>

    <div class="grid__item ">test</div>

  </div>


</div>



{% schema %}
  {
    "name": "Information Block",
    "tag": "section",
    "class": "section info-blocks",
    "settings": [

      {
        "type": "header",
        "content": "Info Blocks"
      }

    ],

    "blocks": [

      {

        "type": "heading",
        "name": "Blocks",
        "limit": 1,

        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select icon"
          }, {
            "type": "text",
            "id": "title",

            "label": "title"
          }

        ]



      }

    ],

    "presets": [
      {
        "name": "Info Blocks"

      }
    ]



  }
{% endschema %}