<style>

  .custom-collection-banner {
    width: 100%;
    min-height: 258px;
    background-size: cover !important;
    background: #000;
    background-image: none;
    background-size: auto;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .collection-hero__description * {
    color: #fff;
  }
</style>


<div
  class="custom-collection-banner"
  style="background-image:url('{{ collection.image | image_url}}' )">


  <img
    src="{{ section.settings.logo |  img_url: 'master' }}"
    class="banner-logo">


  {%- if section.settings.show_collection_description -%}
    <div
      class="collection-hero__description rte">{{ collection.description }}</div>
  {%- endif -%}
</div>


{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [

      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo Image",
        "info": "logo Image"
      },
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": true,
        "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
        "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ]
  }
{% endschema %}