<div class="product-notification">


  <div class="page-width d-flex align-items-center justify-content-center">


    <div class="text">

      {{- section.settings.text -}}

    </div>

    <a href="{{- section.settings.button_link -}}" class="button">Get Started</a>

  </div>


</div>



{% schema %}
  {
    "name": "Product Notification Bar",
    "tag": "section",
    "class": "section Notification-blocks",
    "settings": [

      {
        "type": "header",
        "content": "Product Notification"
      }, {
        "type": "text",
        "id": "text",
        "label": "Heading",
        "default": "Quick links"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }



    ],

    "presets": [
      {
        "name": "Product Notification"

      }
    ]



  }
{% endschema %}