<style>

  .text {
    color: #FFF;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%; /* 41.504px */
    text-transform: uppercase;
  }

  @media(max-width:600px) {

    .product-notification {
      padding: 15px 0;
    }
    .product-notification .d-flex {
      flex-direction: column;
    }


  }
</style>

<div class="product-notification">


  <div class="page-width d-flex align-items-center justify-content-between">


    <div class="text">

      {{- section.settings.text -}}

    </div>

    <a href="{{- section.settings.button_link -}}" class="button btn-black ">Get Started</a>

  </div>


</div>



{% schema %}
  {
    "name": "Product Notification Bar",
    "tag": "section",
    "class": "section Notification-blocks",
    "settings": [

      {
        "type": "header",
        "content": "Product Notification"
      }, {
        "type": "text",
        "id": "text",
        "label": "Heading",
        "default": "Quick links"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }



    ],

    "presets": [
      {
        "name": "Product Notification"

      }
    ]



  }
{% endschema %}