/*
Theme

primary color (red) : #B3341C;

secondary color (gray) : #151415;

black : #000;

white : #fff;

*/

.bg-red{ background-color:  #B3341C;}

.bg-gray{ background-color:  #151415;}

.bg-black { background-color: #000; }

.bg-white { background-color: #fff; }

.text-white { color: #fff!important; }

.text-black {color:#000; }

.mt-0{ margin-top:0; }



.header__icon, .header__icon--cart .icon{ width:2.5rem; height: auto;}



body{ font-size: 1.25rem; }


h1, .h1{ font-size: 4rem; }

h2, .h2{ font-size: 3rem; }

h3,.h3{font-size: 2rem; }

.img-fluid{ width: 100%;}



.d-flex{ display: flex;}

.align-items-center{ align-items: center; }

.justify-content-center{ justify-content: center; }

.justify-content-right{ justify-content: right;}

.m-auto{ margin:auto!important; }
.ml-27{ margin-left: 27px;}
.text-uppercase { text-transform: uppercase;}

.page-width{ max-width: 1440px; }

.footer__copyright caption{ text-align: left;}
.footer__content-top {
    padding: 3rem 0!important;
  
}

#secondary-footer{ padding-top: 4rem;}

.footer__blocks-wrapper .footer__copyright {
    text-align: left;
   
}

.copyright__content{
    font-size: .8125rem!important;
}

.policies {
    display: block!important;
   
}

.policies li:after {
    content: '|';
    font-size: .875rem;
    line-height: 1.812rem;
    padding: 0 8px;
}


.policies li:last-child:after {
   display: none;
}

.left-line { position: relative; }
.left-line:before {
    content: ''; 
    height: 88%;
    width: 1px;
    background: white;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
}

.policies li:before{ display: none;}
 
.button {
    min-width: 17rem;
    min-height: 4.0625rem;
    opacity: 1!important;
    border:0!important;

    background: #B3341C;
    opacity: 1!important;
    border: 0!important;
    color: #fff;


font-size: 1.25rem;
font-family: Oswald, sans-serif;
text-transform: uppercase;

}

.button--primary {

    background: #fff!important;
    color:#000!important;
  
}


.button:after{ display: none; }



.list-menu__item{font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff!important; opacity: 1; font-family: Oswald, sans-serif; }


    

.footer__content-top .list-menu__item{font-size: 1.25rem;
     font-family: Lato, sans-serif;}

     .footer__blocks-wrapper{     padding: 0 5rem; }

     .footer__content-top .newsletter-form__field-wrapper .field__input{ color: black;}

    .header__heading-logo{ width: 2rem; }


    .social-icon-v{ display: flex;     margin-bottom: 20px; align-items: center; }

    .link.list-menu__item--link{ padding: 0; margin: 0;}

    .list-social__item a.list-social__link{    padding: 0.5rem; }

    .footer__list-social{ margin-left: 1rem;}

.m-0{ margin:0; }

.min-width-auto{ min-width: auto;}

.newsletter-form__field-wrapper .button {
    min-width: auto;
    height: 3.3125rem;
    background: #B3341C;
    font-size: 1rem;
    line-height: 3.3125rem;
    min-height: 3.3125rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    letter-spacing: normal;
    padding: 0 2.5rem;

}


.footer__content-top  .newsletter-form__field-wrapper .field__label{    letter-spacing: normal;    color: #000; opacity: 1; height: 3.25rem; font-size: 0.875rem;}

.footer__content-top .newsletter-form__field-wrapper .field__input {
  
    padding: 0 2rem; letter-spacing: normal; 
    font-size: .875rem;
    text-transform: uppercase;
    color: #000; opacity: 1; 
}

.footer__content-top .field__input:not(:placeholder-shown)~.field__label{

    top: calc(var(--inputs-border-width) + -0.2rem);

}


.newsletter-form__field-wrapper{max-width: 31.5rem!important;}
.newsletter-form__field-wrapper .field__input {
   
    padding: 0;
    height: auto;
    background: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


.newsletter-form__field-wrapper  .field:after{ display: none;} 

.newsletter-form__field-wrapper  .field__input:focus{ box-shadow: none;}

.caption {
    font-size: 1rem;
    letter-spacing: .07rem;
    line-height: calc(1 + .4 / var(--font-body-scale));
}

.footer__content-top .list-menu__item{ line-height: 1em!important;}

.footer__content-top  .list-social__item .icon{ width: 1.5rem; height: auto; }


html{ font-size: 90%; }


    
@media(min-width:1200px){
    html{ font-size: 100%; }
}

@media screen and (min-width: 990px){
.header {
    padding-top: .55rem!important;
    padding-bottom: .55rem!important;
}}

@media screen and (min-width: 750px){
.newsletter-form {
  
    max-width: 33.2rem;
}
}