/*
Theme

primary color (red) : #B3341C;

secondary color (gray) : #151415;

black : #000;

white : #fff;

*/

.bg-red{ background-color:  #B3341C;}

.bg-gray{ background-color:  #151415;}

.bg-black { background-color: #000; }

.bg-white { background-color: #fff; }

.text-white { color: #fff!important; }

.text-black {color:#000; }

.header__icon, .header__icon--cart .icon{ width:30px; height: 30px;}

html{ font-size: 100%; }

body{ font-size: 1.2rem; }


h1, .h1{ font-size: 4rem; }

h2, .h2{ font-size: 3rem; }

h3,.h3{font-size: 2rem; }

.text-uppercase { text-transform: uppercase;}


.button {
    min-width: 272px;
    height: 65px;
    opacity: 1!important;
    border:0!important;

    background: #B3341C;
    opacity: 1!important;
    border: 0!important;
    color: #fff;


font-size: 20px;
font-family: Oswald, sans-serif;
text-transform: uppercase;

}

.button--primary {

    background: #fff!important;
    color:#000!important;
  
}

.button--secondary{}

.button:after{ display: none; }