

    .home-banner__content { max-width: 52.5rem; margin:3rem 0; }


    

.home-banner-cover{

    background-color: #151415;
    color: #fff;
    position: relative;
    background-image: url(//emblemathletic.shop/cdn/shop/files/home-banner.png?v=1687621264);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
   
    
    
    }

    .home-banner-cover .grid__item{ min-height: 47.5rem; }

    .home-banner-cover p{ max-width: 41.25rem;   font-size: 2rem;
        line-height: 2.5rem;
        margin: 1.375rem 0 2.625rem; }